name: Test en main
on:
  push:
    branches:
      - main
jobs:
  test-job:
    runs-on: ubuntu-latest

    steps:
      - name: Descargar codigo
        uses: actions/checkout@v4

      - name: Instalar pytest
        run: pip install pytest

      - name: Checkeo
        run: pytest test.py
